<link rel="stylesheet" href="/css/navbar.css" />
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/orders">Orders</a></li>
        <% if (authenticated) { %>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/cart">Cart</a></li>
            <li>
                <form action="/logout" method="POST" style="display:inline;">
                    <button type="submit" style="background:none;border:none;color:inherit;cursor:pointer;padding:0;">Logout</button>
                </form>
            </li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>