<link rel="stylesheet" href="/css/navbar.css" />
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>