<link rel="stylesheet" href="/css/navbar.css" />
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/orders">Orders</a></li>
        <% if (authenticated) { %>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>