<!--  -->
<link rel="stylesheet" href="css/home.css" />
<h1>Home Page</h1>
<div class="intro">
  <div>
    <h1>Welcome to Grane Microbakery</h1>
    <p>Introducing our story, mission, and signature products.</p>
  </div>
</div>

<div class="content">
  <h2>Our Purpose</h2>
  <p>
    Welcome to Grane Microbakery, introducing the bakery’s story, mission, and
    signature products.
  </p>
  <h2>Features</h2>
  <%- include('../components/imageSlider') %>
</div>
