<style>
  #content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height:100%;
  }

  #homeLeft {
    flex: 0 0 60%;
    background-image: url('/images/homeBkgBread.jpg');
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-blend-mode: darken; /* Blends the overlay with the image */
    background-color: rgba(0, 0, 0, 0.5); /* Adds a dark overlay */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100%; /* Ensures the height fills its parent */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #homeLeft h1 {
    color: white;
    font-size: 3em; /* Increase the font size */
  }

  #homeRight {
    flex: 0 0 40%;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #homeRight h2 {
    margin-bottom: 10px;
  }

  .itemsContainer {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
  }

  .itemsContainer .item {
    flex: 0 0 auto;
    width: 150px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
  }

  .itemsContainer .item img {
    max-width: 100%;
    border-radius: 8px;
  }

  body{
    height: 94vh;
  }
</style>

  <!--  -->
  <link rel="stylesheet" href="css/home.css" />

  <div id="content">
    <div id="homeLeft">
      <br><br>
      <br><br> 
      <h1>Grane Microbakery</h1>
    </div>
    <div id="homeRight">
      <h1>Bread</h1>
      <br>
      <div id="simpleImg">
        <!-- fixme move this to the css tag -->
        <img src="/images/granelogo3draft.png" alt="Bread" style="width: 20%; display: block; margin: 0 auto;">
      </div>
      <br>
      <button onclick="location.href='/shop'" class="learn-more">
        <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
        </span>
        <span class="button-text">Order Now</span>
      </button>
    </div>
  </div>
  